{% load staticfiles %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic,400italic' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Assistant:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">   
        <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script src="{% static 'js/rango-jquery.js' %}"></script>
        <script type="text/javascript" async
      src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        


        {% block head %}{% endblock %}
    </head>

    


    <body class="container">
    <!-- Define any Mathjax commands i might need -->
        $\newcommand{\braket}[1]{\langle #1 \rangle}
            \newcommand{\bra}[1]{\langle #1 |}
            \newcommand{\ket}[1]{| #1 \rangle}$

        <header>
                <!-- <ul id="share_links">
                    <li><a href="https://github.com/sglpolla" target="_blank">
                        <img src="https://github.com/favicon.ico" alt="github">
                    </a></li>
                    <li><a href="https://www.facebook.com/lenkamathstuition/" target="_blank">
                        <img src="{% static 'css/img/fb.png' %}" alt="fb">
                    </a></li>
                </ul> -->
                <!-- <h1 id="logo">
                    <a href="/">Lenka Pollachová</a>
                </h1> -->
            
            <nav>
            <img src="{% static 'css/img/logo.png' %}" alt="Lenka Pollachová">
                <ul>
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/webdev/">Web Development</a>
                    </li>
                    <li>
                        <a href="/tuition/">Maths Tuition</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                    <!-- <li class="col-lg-2 text-center"><a href="/home/links/">Links</a></li>
                    <li class="col-lg-2 text-center"><a href="/home/maths/">Maths</a></li> -->
                    <li>
                        <a href="/">About</a>
                    </li>
                </ul>
            </nav>
                
        </header>

            <p class="text-right"> <!-- The black bar is in the CSS -->
                {% if user.is_authenticated %}
                {% block topbar %}
                {% endblock %}
                {% else %}
                <a href="/admin/">
                    Login
                </a>
                {% endif %}
            </p>

            {% block content %}
            {% endblock %}
<!--             <footer>
                {% block bottom-nav %}{% endblock %}
            </footer> -->
    </body>

</html>
