{% extends 'home/base.html' %}

{% block content %}
	<div id="bar">
        </div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1 class="title text-center">
		    Useful Links
		    </h1>
		</div>
		<div class="col-sm-4 text-center">
			<h2>
			Programming
			</h2>
			<br>
			<ul>
				<li>
					<a href="http://regexr.com/" target="_blank">Regex Editor</a>
				</li>
				<li>
					<a href="https://www.khanacademy.org/computing/computer-programming/programming" target="_blank">Khan Academy</a>
				</li>
				<li>
					<a href="#">Point 3</a>
				</li>
			</ul>
			<br>
			<br>
		</div>
		<div class="col-sm-4 text-center">
			<h2>
			University
			</h2>
			<br>
			<ul>
				<li>
					<a href="https://www.liverpool.ac.uk/~sdb/ModSpecs/" target="_blank">Module Specifications</a>
				</li>
				<li>
					<a href="http://www.physics.uwyo.edu/~ddale/teach/12_13/a5470/" target="_blank">ISM notes from uwyo</a>
				</li>
			</ul>
			<br>
			<br>
		</div>
		<div class="col-sm-4 text-center">
			<h2>
			Web Development
			</h2>
			<br>
			<ul>
				<li>
					<a href="https://github.com/Emmetttt/" target="_blank">Github</a>
				</li>
				<li>
					<a href="https://color.adobe.com/create/color-wheel/" target="_blank">Adobe Kuler</a>
				</li>
				<li>
					<a href="https://hackerthemes.com/bootstrap-cheatsheet/" target="_blank">Bootstrap Cheat Sheet</a>
				</li>
			</ul>
			<br>
			<br>
		</div>
		<div class="col-sm-4 text-center">
			<h2>
			Django
			</h2>
			<br>
			<ul>
				<li>
					<a href="https://tutorial.djangogirls.org/en/" target="_blank">Django Girls</a>
				</li>
				<li>
					<a href="https://docs.djangoproject.com/en/1.9/ref/" target="_blank">Official Documentation</a>
				</li>
				<li>
					<a href="https://docs.djangoproject.com/en/1.10/intro/tutorial01/" target="_blank">Official Tutorial</a>
				</li>
				<li>
					<a href="http://www.tangowithdjango.com/" target="_blank">Tango With Django</a>
				</li>
				<li>
					<a href="https://www.tutorialspoint.com/django/index.htm" target="_blank">Tutorialpoint Django</a>
				</li>
				<li>
					<a href="https://ccbv.co.uk/" target="_blank">Django Views Explained</a>
				</li>
			</ul>
			<br>
			<br>
		</div>
		<div class="col-sm-4 text-center">
			<h2>
			Recipes
			</h2>
			<br>
			<ul>
				<li>
					<a href="http://www.thekitchn.com/how-to-cook-moist-tender-chicken-breasts-every-time-cooking-lessons-from-the-kitchn-36891" target="_blank">Chicken Breast</a>
				</li>
				<li>
					<a href="http://www.bbc.co.uk/food/recipes/soda_bread_24837" target="_blank">Soda Bread</a>
				</li>
				<li>
					<a href="http://www.goodtoknow.co.uk/recipes/497085/paul-hollywood-s-crusty-cob-loaf" target="_blank">Crusty Bread</a>
				</li>
				<li>
					<a href="http://allrecipes.com/recipe/239867/chef-johns-chicken-tikka-masala/" target="_blank">Chicken Tikka Masala</a>
				</li>
				<li>
					<a href="https://www.theguardian.com/lifeandstyle/wordofmouth/2011/jan/13/how-make-perfect-chicken-soup
" target="_blank">Chicken Soup</a>
				</li>
			</ul>
			<br>
			<br>
		</div>
		<div class="col-sm-4 text-center">
			<h2>
			Misc
			</h2>
			<br>
			<ul>
				<li>
					<a href="https://www.sharelatex.com/" target="_blank">Share LaTeX</a>
				</li>
			</ul>
			<br>
			<br>
		</div>
	</div>
{% endblock %}
