{% extends 'home/base.html' %}

{% block topbar %}
    <a class="nav-bar-text" href="{% url 'post_new' %}">
        Create new post
    </a>
{% endblock %}

{% block content %}


    {% for post in post_tag %}
        <article class="post row">
            <div class="col-sm-3 blog_post_info">
                <h1 class="blog_post_title">
                    <a href="{% url 'post_specific' pk=post.pk %}">
                        {{ post.title }}
                    </a>
                    </h1>
                <a href="{% url 'post_specific' pk=post.pk %}" class="read_more text-uppercase">Read More</a>
                <a href="{% url 'post_list_tag' kwarg=post.tag %}" class="date" > Tags: {{ post.tag }} </h2>
                <h2 class="date"> {{ post.published_date }} </a>
            </div>
            <p class="col-sm-7">
                {% autoescape off %} {{ post.text|linebreaksbr }} {% endautoescape %}
            </p>
            <div class="col-sm-2 text-sm-left blog_post_info">
            </div>
        </article>

    {% endfor %}

{% endblock %}

{% block bottom-nav %}
    <ul id="blog-navigation">
        <li><p id="blog-navigation" align="left">
            <a href="#" id="white"> << Previous Page </a>
        </a></li>
        <li><p id="blog-navigation" align="center">
            Page 1 of 1
        </p></li>
        <li><p id="blog-navigation" href="#" align="right">
            <a href="#" id="white"> Next Page >> </a>
        </a></li>
    </ul>
{% endblock %}