{% extends 'home/base.html' %}

{% block topbar %}
    <a href="{% url 'post_new' %}"><button class="btn btn-default text-right">
        Create new post
    </button></a>
{% endblock %}

{% block content %}


    {% for post in posts %}
        <article class="post">
            <h1 class="blog_post_title">
                <a href="{% url 'post_specific' pk=post.pk %}">
                    {{ post.title }}
                </a>
            </h1>
            <p class="text-center post_description">
                {{ post.published_date }}
                &ensp; &#183; &ensp;
                Tagged:
                <a href="{% url 'post_list_tag' kwarg=post.tag %}">
                     {{ post.tag }}
                </a>   
                
            </p>  
            <div class="row">
                <div class="col-md-8 col-md-offset-2 post-cut-off">
                    {% autoescape off %} {{ post.text|linebreaksbr }} {% endautoescape %}
                </div>
            </div>
                <a href="{% url 'post_specific' pk=post.pk %}" class="read_more text-center"><button class="btn btn-default center-block">
                    read more
                </button></a>
            <hr>
        </article>

    {% endfor %}

{% endblock %}

<!-- {% block bottom-nav %}
    <ul id="blog-navigation">
        <li><p id="blog-navigation" align="left">
            <a href="#" id="white"> << Previous Page </a>
        </a></li>
        <li><p id="blog-navigation" align="center">
            Page 1 of 1
        </p></li>
        <li><p id="blog-navigation" href="#" align="right">
            <a href="#" id="white"> Next Page >> </a>
        </a></li>
    </ul>
{% endblock %} -->