{% extends 'home/base.html' %}

{% block head %}
    <script type="text/javascript" async
      src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
{% endblock %}

{% block content %}
  <article class="post">
            <h1 class="blog_post_title">
                <a href="{% url 'post_specific' pk=post.pk %}">
                    {{ post.title }}
                </a>
                {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
            </h1>
            <p class="text-center post_description">
                {{ post.published_date }}
                &ensp; &#183; &ensp;
                Tagged:
                <a href="{% url 'post_list_tag' kwarg=post.tag %}">
                     {{ post.tag }}
                </a> 
                
            </p>    
            <div class="row">
                <div class="col-md-8 col-md-offset-2 post-full">
                    {% autoescape off %} {{ post.text|linebreaksbr }} {% endautoescape %}
                </div>
            </div>
                <a href="{% url 'post_specific' pk=post.pk %}" class="read_more text-center"><button class="btn btn-default center-block">
                    read more
                </button></a>
            <hr>
        </article>
{% endblock %}