{% extends 'home/base.html' %}

{% block head %}
    <script type="text/javascript" async
      src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
{% endblock %}

{% block topbar %}
    <a class="nav-bar-text" href="{% url 'post_new' %}">
        Create new post
    </a>
{% endblock %}

{% block content %}


    {% for post in posts %}
        <article class="post row">
            <div class="col-md-3 blog_post_info">
                <h1 class="blog_post_title">
                    <a href="{% url 'post_specific' pk=post.pk %}">
                        {{ post.title }}
                    </a>
                    </h1>

                <a href="{% url 'post_specific' pk=post.pk %}" class="read_more text-uppercase">Read More</a>

                <a href="{% url 'post_list_tag' kwarg=post.tag %}" class="date" > Tags: {{ post.tag }} </a>

                <h2 class="date"> {{ post.published_date }} </h2>
            </div>
            <div class="col-md-7">
                {% autoescape off %} {{ post.text|linebreaksbr }} {% endautoescape %}
            </div>
            <!-- <div class="col-sm-2 text-sm-left blog_post_info">
            </div> -->
        </article>

    {% endfor %}

{% endblock %}

{% block bottom-nav %}
    <ul id="blog-navigation">
        <li><p id="blog-navigation" align="left">
            <a href="#" id="white"> << Previous Page </a>
        </a></li>
        <li><p id="blog-navigation" align="center">
            Page 1 of 1
        </p></li>
        <li><p id="blog-navigation" href="#" align="right">
            <a href="#" id="white"> Next Page >> </a>
        </a></li>
    </ul>
{% endblock %}