{% extends 'home/base.html' %}
{% block content %}

<p>Under Construction</p>

    <!-- <main class="container">
		<section id="home" class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<img src="assets/img/profile.jpeg" alt="photo of self" id="portrait" class="center-block">
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<h1> About <span></span></h1>
				<p>
					I am a fourth year student at the University of Liverpool, pursuing an MPhys degree in Physics. In the spring of 2016 I took coding classes with the <a href="http://www.codefirstgirls.org.uk/">Code First: Girls</a> enterprise and since then been developing my skills further through continuous and rigorous self-study. I am now offering my web design and development services to businesses around Liverpool.
					<br><br>
					I have mastered <a href="http://www.w3schools.com/html/html_intro.asp">HTML</a>, <a href="http://www.w3schools.com/css/css_intro.asp">CSS</a> and <a href="https://www.javascript.com/">JavaScript</a> + <a href="https://jquery.com/">jQuery</a> and am in the process of learning <a href="https://www.python.org/">Python</a> together with the <a href="https://www.djangoproject.com/">Django</a> framework.
				</p>
			</div>
		</section>

		<div class="row">
			<span class="col-xs-10 col-xs-offset-1 divider"></span>
		</div>

		<section id="skills" class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h1> Skills <span></span></h1>
				<blockquote>
					Due to the nature of my subject, I am familiar with a multitude of programming languages and can build extensive programs that perform a specific function. I have experience with object-oriented programming, namely Java and Python. Within the scope of a university third-year group project, I have written a Java program that simulated the lepton-flavour violating decay of a muon into three electrons (you can view the report and documentation <a href="report.pdf" target="_blank">here</a>.) I am more than familiar with all the <em>for (...) 's</em>, <em>if (...) 's</em>, and <em>while (...) 's</em> and learning Python later on was a breeze.
					<br><br>
					This all being said, I believe there is always room for improvement and I strive to learn, gain experience, and improve my skills every day. I am currently learning how to tango with Django, and am looking forward to familiarising myself with SCSS / LESS / SASS / AJAX / AngularJS / React and possibly other tools, libraries, and techniques in the near future. Finally, I would also like to take the time to learn C# within the next year or two, if my schedule permits.

				</blockquote>
				<div class="row no-style">
					<div class="col-sm-6">
						<h2>
							Front&#8208;end
						</h2>
						<div class="row">
							<p class="col-xs-6">
								<abbr title="HyperText Markup Language">HTML</abbr>
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star-empty
								"></span>
							</div>
						</div>
						<div class="row">
							<p class="col-xs-6">
								<abbr title="Cascading Style Sheets">CSS</abbr>
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star-empty
								"></span>
							</div>
						</div>
						<div class="row">
							<p class="col-xs-6">
								JavaScript
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star-empty
								"></span>
							</div>
						</div>
						<h2>
							Front&#8208;end++
						</h2>
						<div class="row">
							<p class="col-xs-6">
								Bootstrap
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star-empty
								"></span>
							</div>
						</div>
						<div class="row">
							<p class="col-xs-6">
								jQuery
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star-empty
								"></span><span class="glyphicon glyphicon-star-empty
								"></span>
							</div>
						</div>
						<div class="row">
							<p class="col-xs-6">
								Photoshop
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star-empty
								"></span><span class="glyphicon glyphicon-star-empty
								"></span><span class="glyphicon glyphicon-star-empty
								"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<h2>
							Back&#8208;end
						</h2>
						<div class="row">
							<p class="col-xs-6">
								Python
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star-empty
								"></span><span class="glyphicon glyphicon-star-empty
								"></span>
							</div>
						</div>
						<div class="row">
							<p class="col-xs-6">
								Django
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star-empty
								"></span><span class="glyphicon glyphicon-star-empty
								"></span><span class="glyphicon glyphicon-star-empty
								"></span><span class="glyphicon glyphicon-star-empty
								"></span>
							</div>
						</div>
						<h2>
							Others
						</h2>
						<div class="row">
							<p class="col-xs-6">
								<abbr title="MATrix LABoratory">MATLAB</abbr>
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star-empty
								"></span>
							</div>
						</div>
						<div class="row">
							<p class="col-xs-6">
								Java
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star-empty
								"></span>
							</div>
						</div>
						<div class="row">
							<p class="col-xs-6">
								Windows
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span>
							</div>
						</div>
						<div class="row">
							<p class="col-xs-6">
								OS X
							</p>
							<div class="col-xs-6">
								<span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span><span class="glyphicon glyphicon-star
								"></span>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>

		<div class="row">
			<span class="col-xs-10 col-xs-offset-1 divider"></span>
		</div>

		<section id="portfolio" class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h1> Portfolio <span></span></h1>
				
				<div class="row no-style">
					<div class="col-sm-5">
						<img src="assets/img/portfolio/vern-sm.png" alt="Vernon Arms" class="img img-responsive center-block">
						<p class="img-desc">
							Fully responsive website designed for the Vernon Arms on Dale Street. Features a responsive gallery and an embedded Twitter feed.
							<br><a href="http://vernonarms.net" class="float-right" target="_blank">
								<img src="assets/img/link.png" alt="external link">
							</a>
						</p>
					</div>
					<div class="col-sm-3 col-sm-offset-2">
						<img src="assets/img/portfolio/tutoring-sm.png" alt="tutor's website" class="img img-responsive center-block">
						<p class="img-desc">
							My very first website, written as a part of the Code First: Girls course. It is mostly responsive although some elements scale poorly on mobile devices. Features an embedded pdf file, Google calendar, and a contact form.
							<br><a href="https://sglpolla.github.io" class="float-right" target="_blank">
								<img src="assets/img/link.png" alt="external link">
							</a>
						</p>
					</div>
				</div>
				<div class="row no-style">
					<div class="col-sm-4 col-sm-offset-1">
						<img src="assets/img/portfolio/nuala-sm.png" alt="Nuala Moore Fine Arts" class="img img-responsive center-block">
						<p class="img-desc">
							A responsive website written for an artistic friend to display her works. Features dot-styled navigation.
							<br><a href="http://art-portfolio.bitballoon.com/" class="float-right" target="_blank">
								<img src="assets/img/link.png" alt="external link">
							</a>
						</p>
					</div>
					<div class="col-sm-5 col-sm-offset-2">
						<img src="assets/img/portfolio/parallax-sm.png" alt="Vernon Arms" class="img img-responsive center-block">
						<p class="img-desc">
							Responsive website written to experiment with the parallax scrolling effect. This is a mock-up website and its main features are the parallax scrolling effect, javascript assisted highlighting of active links, and a contact form.
							<br><a href="http://pollachova-parallax.bitballoon.com/" class="float-right" target="_blank">
								<img src="assets/img/link.png" alt="external link">
							</a>
						</p>
					</div>
				</div>
			</div>
				
		</section>

		
		<div class="row">
			<span class="col-xs-10 col-xs-offset-1 divider"></span>
		</div>
		


		<section id="contact" class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h1> Contact <span></span></h1>
				<div class="row no-style">
					<div class="col-md-6">
						<img src="assets/img/phone.png" alt="mobile phone">
						<address>07500 483585</address>
					</div>
					<div class="col-md-6">
						<img src="assets/img/email.png" alt="email">
						<address>L.Pollachova@liv.ac.uk</address>
					</div>
				</div>
			</div>
			
		</section>
		
	</main> -->

{% endblock %}