/* CSS reset */
.row, body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

/*~~~~ UNIVERSAL ~~~~*/
body {
	font-family: 'Assistant', sans-serif;
	background-image: url("images/background.jpg");
}
ul {
	list-style-type: none;
}
a, a:active {
	color: black;
	text-decoration: none;
}

a:hover {
	color: rgb(28, 31, 29);
}

.full-width {
	margin: 0 auto;
}

h1 {
	font-family: 'Playfair Display', serif;
}

p {
	font-size: 18px;
	line-height: 1.4;
}

/* Header */

#share_links li, #nav li{
	display: inline-block;
}
header {
	width: 100%;
	padding-top: 35px;
}


#share_links {
	padding-top: 15px;
	float: right;
}
#share_links li {
	padding-left: 10px;
}
#logo {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 50px;
	float: left;
	padding-bottom: 40px;
}
#share_links img {
	opacity: .6;
}
#share_links img:hover {
	opacity: 1;
}
#nav {
	clear: both;
}


#nav li{
	padding: 0 20 0 20px;
	margin-bottom: 3px;
	font-size: 18px;
}

.nav-bar {  /*BIG BLACK BAR*/
	margin-top: 2px;
	padding: 0;
	height: 22px;
	background-color: rgb(28, 31, 29);
}

.nav-bar-text {
	font-family: 'Playfair Display', serif;
	padding: 1px 20 0 20px;
	margin-bottom: 3px;
	font-size: 16px;
	color: white;
	float: right;
	opacity: 0.95;
}

.nav-bar-text:hover {
	color: white;
	text-decoration: none;
}

/*~~~~ FOOTER ~~~~*/
footer {
	height: 22px;
	background-color: rgb(28, 31, 29);
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

/*~~~~ HOME PAGE ~~~~*/
.title {
	padding: 30px 0 30px 0;
}

/*~~~~ BLOG POSTS ~~~~*/
.new-post {
	margin-top: 2px;
	padding: 0;
	height: 22px;
	background-color: rgb(28, 31, 29);
}
.new-post a {
	padding-top: 2px;
	margin-right: 5px;
	color: white;
	font-size: 14px;
	font-style: italic;
	float: right;
}
.post {
	margin-bottom: 30px;
	border-top: solid 1px #7D7D7F;
	padding-top: 30px;
	height: 250px;
	overflow-y: hidden;
}

.blog_post_info {
	float: left;
	padding-top: 0px;
	padding-left: 0px;
}
.blog_post_title {
	float: right;
	font-size: 28px;
}
.date {
	float: right;
	clear: both;
	font-size: 14px;
	padding-top: 7px;
}
.date_specific {
	margin-top: 30px;
}
.read_more {
	float: right;
	clear: both;
	padding: 5px;
	background-color: rgb(28, 31, 29);
	color: white;
	font-style: italic;
	margin-top: 10px;
}
.read_more:hover {
	color: #CCCCCC;
}




#post-no-float {
	float: none;
}

#blog-navigation {
    display: table;
	padding-top: 2px;
	margin-left: 5px;
	width: 100%;
	color: white;
	font-size: 12px;
	font-style: italic;
}

#blog-navigation li {
	font-size: 2px;
	display: inline-block;
	width: 32.9%;
	padding-right: 5px;
}

#page-number {
	color: #b3b3b3;
}

#prevpage {
	text-align: left;
	color: white;
}

#nextpage {
	text-align: right;
	color: white;
	width: 100%;
}

.description {
	font-style: italic;
}

#white {
	color: white;
}

ol {
	background: #F2F2F2 repeat-y;
	overflow:auto;
	font-family:"Courier New",Courier,mono;
	padding-left:3em;
	color:#036;
	width:90%;
	margin: 10px 0 10px 0;
	min-height: 20px;
}
ol li {
	background:#F2F2F2;
	line-height:1.5em;
	font-size:small;
}
ol code {
	color:#036;
}


/*~~~~~ POLLS ~~~~~~*/

.poll_list {
	height: auto !important; /*Fills the box to the bottom*/
	width: 50%;
	border-radius: 15px;
	/*border: 1px solid #F2F2F2;*/
	border: 1px solid rgb(28, 31, 29);;
	margin-top: 30px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
    list-style-type: none; /*removes bullet points*/
	text-align: center;
}

.new_poll_list {
	padding-top: 10px;
}

.newest_questions {
	margin-top: 30px;
    font-size: 24;
}

.create_poll {
	float: right;
	clear: both;
	padding: 5px;
	background-color: rgb(28, 31, 29);
	color: white;
	font-style: italic;
	margin-top: 10px;
    position: absolute;
    top: 65%;
    left: 60%;
    font-size: 30;
}
.create_poll:hover {
	color: #CCCCCC;
	text-decoration: none;
}

.results_left {
	width: 50%;
	padding-left: 30%;
	float: left;
}

#chart_div {
	margin-left: 50%;
}

#break_few_lines {
	margin-top: 50px;
}

/*label[for=id_question_text], label[for=id_0-choice_text], label[for=id_1-choice_text], label[for=id_2-choice_text], label[for=id_3-choice_text] {
	float: left;
}
*/
input[id=id_question_text], input[id=id_0-choice_text], input[id=id_1-choice_text], input[id=id_2-choice_text], input[id=id_3-choice_text] {
	float: right;
	margin-right: 15%;
	margin-left: -20%;
	width: 279px;
	text-align: center;
}